<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewBag.Title == "Home Page" ? "Carvisto" : ViewBag.Title)</title>
    <link rel="icon" href="~/images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <script src="/js/dropdown.js"></script>
    <script src="/js/rotateLocation.js"></script>
</head>
<body>
<header>
    <div class="menu-overlay"></div>
    <div class="header-container">
        <a class="header-logo" asp-controller="Home" asp-action="Index">
            <img src="/images/logo.png" class="logo-icon">Carvisto
        </a>

        <nav class="header-nav">
            <ul class="nav-menu">
                <li><a href="/Trips/">Trips</a></li>
                <li><a href="/Drivers">Drivers</a></li>
                <li><a href="/Faq/">FAQ</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </nav>

        <div class="header-actions">
            <a class="create-trip-btn" href="/Trips/Create/">Create Trip</a>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="account-dropdown">
                    <button class="login-btn dropdown-toggle">My Account</button>
                    <div class="dropdown-menu">
                        <a asp-controller="MyTrips" asp-action="Index">My Trips</a>
                        <a asp-controller="Bookings" asp-action="Index">My Bookings</a>
                        <a asp-controller="Account" asp-action="Index">Settings</a>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit" class="dropdown-link">Logout</button>
                        </form>
                    </div>
                </div>

            }
            else
            {
                <a class="login-btn" asp-controller="Account" asp-action="Login">Login</a>
            }
        </div>
        <div class="mobile-menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>

<main>
    @RenderBody()
</main>

<footer>
    <p>&copy; 2025 - Carvisto</p>
</footer>

</body>
</html>