.settings-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 20px 0px;
}

.settings-card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    padding: 40px;
    width: 100%;
    max-width: 1160px;
    margin: 40px auto;
}

.settings-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--text-dark);
}

.settings-subtitle {
    color: #6c757d;
    margin-bottom: 40px;
    font-size: 16px;
}

.settings-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.trip-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.add-trip-btn {
    text-align: center;
    color: white;
}

.my-trip-header {
    text-align: center;
    color: var(--text-dark);
    font-size: 32px;
}

.trips-container {
    padding: 10px 0;
}

.trips-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trip-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid rgba(55, 55, 55, 0.11);
}

.trip-item:hover {
    background-color: #f8f9fa;
}

.trip-item:last-child {
    border-bottom: none;
}

.my-trip-details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.my-trip-route {
    background-color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 10px;
}

.trip-arrow {
    margin: 0 10px;
    color: var(--text-light);
    font-size: 1.1em;
    
}

.my-trip-date {
    display: flex;
    color: var(--text-dark);
    font-size: 1em;
    align-items: center;
    gap: 5px;
}

.my-trip-actions {
    display: flex;
    gap: 10px;
    align-self: center;
}

.edit-button, .delete-button {
    display: flex;
    padding: 12px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.9em;
    transition: background-color 0.2s ease;
    align-items: center;
}

.edit-button {
    background-color: var(--primary-color);
    color: white;
    align-self: center;
}

.edit-button:hover {
    background-color: var(--primary-hover);
}

.delete-button {
    background-color: var(--error-color);
    color: white;
}

.delete-button:hover {
    background-color: var(--error-hover);
}

.no-trips {
    text-align: center;
    padding: 20px;
    color: #6c757d;
    font-style: italic;
}

.mt-4 {
    margin-top: 2rem;
}


.trip-actions {
    margin-top: 15px;
    align-self: flex-end;
}