@model Carvisto.Models.Trip
@{
    ViewData["Title"] = "Edit Trip";
}
<div class="edit-trip-form">
    <div class="create-trip-card">
        <h2 class="auth-title">Edit Trip</h2>
        
        <form asp-action="Edit" method="post" class="auth-form trip-form">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="DriverId"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartLocation" class="form-label">From</label>
                <input asp-for="StartLocation" class="form-input"/>
                <span asp-validation-for="StartLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndLocation" class="form-label">To</label>
                <input asp-for="EndLocation" class="form-input"/>
                <span asp-validation-for="EndLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDateTime" class="form-label">Departure Date</label>
                <input asp-for="DepartureDateTime" class="form-input" type="date"/>
                <span asp-validation-for="DepartureDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="form-label">Price per seat</label>
                <input asp-for="Price" class="form-input"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleBrand" class="form-label">Vehicle</label>
                <input asp-for="VehicleBrand" class="form-input" placeholder="Enter vehicle brand">
                <span asp-validation-for="VehicleBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="form-label">Additional Information</label>
                <textarea asp-for="Comments" class="form-input" rows="3"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            
            <div class="form-actions">
                <button type="submit" class="auth-button">Update Trip</button>
            </div>
        </form>
    </div>
</div>